@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');

body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

table {
  height: 100vh;
  width: 80%;
}

table tr td {
  font-family: 'Belleza', sans-serif;
  color: #121212;
}

.title_name {
  font-size: 28px;
  letter-spacing: 11px;
  font-weight: 500;
  color: #121212;
  cursor: pointer;
}

.services {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 3.7px;
  font-size: 16px;
}

.info_div {
  padding-top: 5px;
  letter-spacing: 1.8px;
  color: #000000;
  font-size: 11px;
}

.contacts {
  margin-top: 13px;
}

.service_name {
  letter-spacing: 3.7px;
  font-size: 16px;
  color: #121212;
  padding-inline: 4px;
}

.bar {
  font-size: 14px;
}

.info_flexing{
  display: flex;
  justify-content: center;
}


@media only screen and (min-width: 600px) and (max-width: 900px) {
  table {
    width: 95%;
  }

  .title_name {
    font-size: 24.5px;
    letter-spacing: 10px;
  }
}

@media only screen and (min-width: 500px) and (max-width: 600px) {
  table {
    width: 97%;
  }

  .title_name {
    font-size: 21.8px;
    letter-spacing: 8px;
  }
}

@media only screen and (max-width: 500px) {
  table {
    width: 100%;
  }

  .title_name {
    font-size: 16px;
    letter-spacing: 7px;
  }

  .service_name {
    font-size: 13px;
  }

  .bar {
    font-size: 11px;
  }

  .info_div {
    font-size: 10px;
  }
  .info_flexing{
    display: block;
  }
}